<div class="container">
  <div class="panel">
    <div class="panel-body">
      <div ng-if="messages.error" role="alert" class="alert alert-danger">
        <div ng-repeat="error in messages.error">{{error.msg}}</div>
      </div>
      <div ng-if="messages.success" role="alert" class="alert alert-success">
        <div ng-repeat="success in messages.success">{{success.msg}}</div>
      </div>

      <table class="table table-striped table-hover ">
        <thead>
        <tr>
          <th>名称</th>
          <th>价格</th>
          <th>数量</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in items">
          <td ng-bind="item.name"></td>
          <td ng-bind="item.price"></td>
          <td>1</td>
          <td>
            <button class="btn btn-sm btn-warning">删除</button>
          </td>
        </tr>
        </tbody>
      </table>
      <p>总计：¥ 140</p>
      <form ng-submit="updateProfile()" class="form-horizontal">
        <legend>收件人信息</legend>
        <div class="form-group">
          <label for="name" class="col-sm-3">姓名</label>
          <div class="col-sm-7">
            <input type="text" name="name" id="name" class="form-control" ng-model="profile.name">
          </div>
        </div>
        <div class="form-group">
          <label for="location" class="col-sm-3">地址</label>
          <div class="col-sm-7">
            <input type="text" name="location" id="location" class="form-control" ng-model="profile.location">
          </div>
        </div>
        <div class="form-group">
          <label for="website" class="col-sm-3">手机号</label>
          <div class="col-sm-7">
            <input type="text" name="website" id="website" class="form-control" ng-model="profile.website">
          </div>
        </div>
      </form>
      <!--<button class="btn btn-success pull-right">确认</button>-->
      <a href="/order/1" class="btn btn-success pull-right">确认</a>
    </div>
  </div>

</div>
