<div class="container">
  <div class="panel">
    <div class="panel-body">
      <div ng-if="messages.error" role="alert" class="alert alert-danger">
        <div ng-repeat="error in messages.error">{{error.msg}}</div>
      </div>
      <div ng-if="messages.success" role="alert" class="alert alert-success">
        <div ng-repeat="success in messages.success">{{success.msg}}</div>
      </div>
      <form ng-submit="submitItem()" class="form-horizontal">
        <legend>商品信息</legend>
        <div class="form-group">
          <label for="name" class="col-sm-3">名称</label>
          <div class="col-sm-7">
            <input type="text" name="name" id="name" class="form-control" ng-model="item.name" required>
          </div>
        </div>
        <div class="form-group">
          <label for="price" class="col-sm-3">价格</label>
          <div class="col-sm-7">
            <input type="text" name="price" id="price" class="form-control" ng-model="item.price" required>
          </div>
        </div>
        <div class="form-group">
          <label for="content" class="col-sm-3">内容</label>
          <div class="col-sm-7">
            <textarea type="text" name="content" id="content" class="form-control" ng-model="item.content" cols="30" rows="4" required></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-4">
            <button type="submit" class="btn btn-success">保存</button>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
